// ---------
// Variables
// ---------

:root {
    --color-white : rgb(255, 255, 255);
    --color-black : rgb(0, 0, 0);
    --color-light-gray : rgb(245, 245, 245);
    --color-medium-gray : rgb(210, 210, 210);
    --color-dark-gray : rgb(150, 150, 150);
    --color-red : rgb(230, 0, 0);
    --color-green : rgb(0, 180, 0);
    --color-blue : rgb(0, 0, 180 );
    --color-magenta : rgb(230, 0, 220);
    
    --color-background: var(--color-white);
    --color-text: var(--color-black);
    --color-link: var(--color-red);
    --color-quiet: var(--color-medium-gray);
    --color-block: var(--color-light-gray);

    --weight-thin: 100;
    --weight-extralight: 200;
    --weight-light: 300;
    --weight-regular: 400;
    --weight-text: 450;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-base: var(--weight-light);

    --transition-duration: 0.25s;
}


// --------
// Sections
// --------

#wrapper {
    width: 56em;
    margin: 0 auto;
}

body {
    padding: 5em 0;
}

// Logo

#logo {
    position: fixed;
    z-index: 1;
    width: 19em;
    height: 19em;
    margin-left: -6em;
    margin-top: -7.5em;
    background-image: url("logo.svg");
    background-size: 87%;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--transition-duration);
    transition-property: background-size;

    &:hover {
        background-size: 95%
    }

}

// Navigation 

#navigation {
    position: fixed;
    z-index: 3;
    width: 11em;
    margin-top: 11.5em;
    padding-top: 1em;
    border-top: 1px solid var(--color-quiet);
}

// Content 

#content {
    position: relative;
    width: 40em;
    left: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin-left: 13em;
    border-left: 1px solid var(--color-quiet);
}


// ------
// Styles
// ------

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: "IBM Plex Serif";
    font-weight: var(--weight-base);
    line-height: 1.5em;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: var(--transition-duration);
    transition-property: color;

    &:visited {
        color: var(--color-link);
    }

    &:hover {
        color: var(--color-text);
        text-decoration: none;
    }
}

// Body Text 

p {
    margin: 0;
    padding: 0 0 0.55em 0;
}

// Headers

h1 {
    padding: 0 0 0.4em 0;
    border-bottom: 1px solid var(--color-text);
    margin: 0 0 0.75em 0;
    font-weight: var(--weight-thin);
    font-size: 3.25em;
    font-style: normal;
    line-height: 1em;
}

h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans";
    margin: 0;
    padding: 0;
}

h2 {
    margin: 1.5em 0 0.5em 0;
    padding-bottom: 0.4em;
    border-bottom: 1px solid var(--color-text);
    font-size: 2em;
    font-weight: var(--weight-bold);
    line-height: 1.2em;
}

h3 {
    margin: 1.5em 0 1em 0;
    font-size: 1.5em;
    font-weight: var(--weight-bold);
    line-height: 1.2em;
}

h4 {
    margin: 1em 0 0.4em 0;
    font-size: 1.2em;
    font-weight: var(--weight-bold);
    line-height: 1.2em;
}

h5 {
    margin: 0.5em 0 0.4em 0;
    font-size: 1.1em;
    font-weight: var(--weight-semibold);
    line-height: 1.2em;
}

h6 {
    margin: 0.5em 0 0.4em 0;
    font-size: 1em;
    font-weight: var(--weight-medium);
    line-height: 1.2em;
}

// Intro 

h1.intro {
    padding: 0.5em;
    border-bottom: none;
    background: var(--color-red);
    color: var(--color-background);
    font-size: 2.25em;
    line-height: 1.25em;
}

// Code 

pre {
    overflow: hidden;
    margin: 1em 0;
    padding: 0.5em 0.75em;
    font-family: "IBM Plex Mono";
    background-color: var(--color-block);

    code {
        padding: 0;
    }
}

code {
    padding: 0 0.25em;
    font-family: "IBM Plex Mono";
    background-color: var(--color-block);
}

// Table 

table {
    width: 100%;
    margin: 1em 0 1em 0;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: "IBM Plex Sans";

    tr {
        vertical-align: top;
        border-bottom: 1px solid var(--color-quiet);
    }
    tr:nth-child(1) {
        border-top: 1px solid var(--color-text);
    }
    tr:nth-last-child(1) {
        border-bottom: 1px solid var(--color-text);
    }

    th {
        padding: 0.5em 0.75em 0.5em 0;
        font-size: 0.65em;
        font-family: "IBM Plex Sans";
        font-weight: var(--weight-semibold);
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    th:nth-last-child(1) {
        padding-right: 0;
    }

    td {
        padding: 0.5em 0.75em 0.5em 0;
    }
    td:nth-last-child(1) {
        padding-right: 0;
    }
    
}

// Specification Tables 

table.name-description td:nth-child(1) {
    width: 6em;
    font-weight: var(--weight-text);
}

table.name-type-description td:nth-child(1) {
    width: 6em;
    font-weight: var(--weight-text);
}
table.name-type-description td:nth-child(2) {
    width: 4em;
    font-style: italic;
}

table.name-type-description-default td:nth-child(1) {
    width: 6em;
    font-weight: var(--weight-text);
}
table.name-type-description-default td:nth-child(2) {
    width: 4em;
    font-style: italic;
}
table.name-type-description-default td:nth-child(4) {
    width: 5.5em;
    font-style: italic;
}

// Example Tables 

table.example-group td:nth-child(1) {
    width: 25%;
}
table.example-group td:nth-child(2) {
}

table.example-kerning td:nth-child(1) {
    width: 25%;
}
table.example-kerning td:nth-child(2) {
    width: 25%;
}
table.example-kerning td:nth-child(3) {
}

// File Format Table 

table.fileformat {
    width: auto;
    margin: 0 0 1.5em 0;
    background-color: var(--color-text);
    color: var(--color-background);
}
table.fileformat td {
    padding: 0.25em 0.75em;
}

table.fileformat a {
    color: var(--color-background);
}
table.fileformat a:hover {
    color: var(--color-background);
}

// Lists 

ul, ol {
    font-family: "IBM Plex Sans";
    margin-left: 1.5em;
    padding-left: 0;
}

// File Diagram 

ul.filediagram {
    margin: 0.5em 0;
    padding: 1em;
    background-color: var(--color-block);
    list-style-type: none;

    ul {
        margin: 0.1em 0;
        padding: 0 0.5em;
        border-left: 1px dashed var(--color-text);
        list-style-type: none;
    }

    li {
        margin: 0;
        padding: 0.1em 0.25em;
    }

}

// Algorithm Diagram 

ul.algorithmdiagram {
    margin: 1em 0;
    padding: 0.5em 0.75em;
    background-color: var(--color-block);

    ul {
        margin: 0.75em 0;
        padding: 0;
        padding-left: 1em;
        border-left: 1px dashed var(--color-text);
    }

    li {
        margin: 0.25em 0;
        padding: 0;
        font-weight: var(--weight-base);
        list-style-type: none;
    }

}

// Navigation 

#navigation {
    ul {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        line-height: 1.5em;
        font-weight: var(--weight-medium);
        text-align: left;
        list-style-type: none;
    }

    li {
    }

    li.navigationSectionTitle {
        font-weight: var(--weight-base);
    }

    .navigationNested {
        display: none;
        padding-left: 0.75em;
        margin: 0.2em 0;
        border-left: 1px dashed var(--color-link);
        font-weight: var(--weight-base);

    }

    .navigationNested li {
    }

    .active {
        display: block;
    }

    li.navigationNested1 {
        padding-left: 0.75em;
        margin: 0.2em 0;
        border-left: 1px dashed var(--color-link);
        font-weight: var(--weight-base);
    }
}

#navigationOpenButton {
    display: none;
}

#navigationCloseButton {
    display: none;
}

// Anchors 

a.header-link {
    padding-left: 0.15em;
    opacity: 0;
    color: var(--color-quiet);
    font-weight: var(--weight-regular);
}
a.header-link:hover {
    opacity: 1.0;
    color: var(--color-link);
}
h1:hover>.header-link,
h2:hover>.header-link,
h3:hover>.header-link,
h4:hover>.header-link,
h5:hover>.header-link,
h6:hover>.header-link {
    opacity: 1.0;
}


// ----------
// Responsive
// ----------

@media only screen and (max-width: 1000px) {
    
    body {
        font-size: 17px;
    }

    #wrapper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    #logo {
        position: relative;
        top: 0;
        left: 3em;
        width: 100%;
        height: 4em;
        margin: 0;
        padding: 0;
        background-image: url("logo-small.svg");
        background-size: 1000px;
        background-position: left center;
        transition-duration: var(--transition-duration);
        transition-property: left;

        &:hover {
            background-size: 1000px;
        }
    }

    #navigation {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        border-top: none;
        border-right: 1px solid var(--color-quiet);
        white-space: nowrap;
        background-color: var(--color-background);
        transition-duration: var(--transition-duration);
        transition-property: width;

        ul {
            padding-left: 1.5em;
        }
    }

    #navigationOpenButton {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        width: 3em;
        height: 4em;
        background-image: url("open-button.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #navigationCloseButton {
        position: relative;
        display: block;
        left: 0;
        width: 3em;
        height: 4em;
        background-image: url("close-button.svg");
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    #content {
        position: relative;
        display: block;
        width: 90%;
        margin: 1em auto;
        padding: 0;
        border: none;
        transition-duration: var(--transition-duration);
        transition-property: left;
    }

    h1.intro {
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 750px) {
    body {
        font-size: 29px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 34px;
    }
}
